@import "taro-ui-vue3/dist/style/components/avatar.scss";
@import "taro-ui-vue3/dist/style/components/button.scss";
@import "taro-ui-vue3/dist/style/components/noticebar.scss";
.color-test{
color: #1aad19;
}
.color-test{
color: #ff5252;
}
.color-test{
color: #7fd8c9;
}
.color-test{
color: #b47fd8;
}
.color-test{
color: #2b2b2b;
}